<div class="panel">

  <div class="menu">
    <div class="imagen-menu">
      <img src="../../../assets/images/logos/Spotify_Logo_CMYK_Green.png" alt="">
    </div>
    <div class="menu-container">
      <app-menu-boton
        [descripcion]="'Home'"
        [icon]="homeIcon"
        [seleccionado]="selected =='Home'"
        (click) = "homeClick('Home')"
        >
      </app-menu-boton>

      <app-menu-boton
        [descripcion]="'Search'"
        [icon]="seacrhIcon"
        [seleccionado] ="selected =='Search'"
        (click) = "searchClick('Search')"
        >
      </app-menu-boton>

      <app-menu-boton
        [descripcion]="'Artists'"
        [icon]="artistIcon"
        [seleccionado] = "selected =='Artist'"
        (click) = "artistClick('Artist')"
        >
      </app-menu-boton>
    </div>

    <div class="playList-menu" >
      <span class="playlist-title">
        PLAYLIST
      </span>
      <i mat-raised-button class="uil uil-plus" (click)="openDialog()"></i>

      <div class="playlist-scroll">
        <app-menu-boton *ngFor="let playlist of playLists"
          [icon]= "playlisticon"
          [descripcion]="playlist.name"
          [seleccionado]="selected == playlist.id"
          (click) = "playListClick(playlist.id);"
          ></app-menu-boton>
      </div>

    </div>
  </div>

  <div class="user-logout">
    <app-user-panel></app-user-panel>
  </div>
</div>


